@CHARSET "UTF-8";

.form-error-msg{
	margin-bottom: 26px;
    margin-top: 9px;
    padding: 4px;
}

.dm-wdt{width:320px; align:left;}

.content-wrapper{background-color:#FFF;}
.color-palette {
        height: 35px;
        line-height: 35px;
        text-align: center;
      }
.color-palette-set {
        margin-bottom: 15px;
      }
.color-palette span {
        display: none;
        font-size: 12px;
      }
.color-palette:hover span {
        display: block;
      }
.color-palette-box h4 {
        position: absolute;
        top: 100%;
        left: 25px;
        margin-top: -40px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
      }
      
.row-bottom-clear{
	margin-bottom: 10px !important;
}

.scroll-custom{
    max-height: 300px;
    overflow-y:scroll; 
}
.scroll-custom2{
    max-height: 700px;
    overflow-y:scroll; 
}
.clear{
	padding:0 10px 0 10px;
}
.user-panel-custom{
	padding:3px!important;
	padding-bottom: 12px!important;
	padding-top: 12px!important;
}
.success{
 color: green;
 font-size: x-large;
}

.danger{
 color: red;
 font-size: x-large;
}


#newapptnotification {
    position:fixed;
    top:100px; /* Set to 0 or wherever */
    width:80%; /* set to 100% if space is available */
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:black;
    background-color:#FF7800;
    padding:5px;
}

#newapptnotification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#newapptnotification a {
    color:black;
    text-decoration:none;
    font-weight:bold
}

.sikkaOfficedetails{
    cursor: pointer;
}