@CHARSET "UTF-8";
#calendar .fc-toolbar{
	padding: 0 0 0 0;
}

.appi-details {
  border-left: 1px solid #3c8dbc ;
  height: 100%;
  margin-left: -13px;
  max-height: 505px;
  overflow-y: scroll;
  padding-left: 13px;
}

.appi-details p{
  border-bottom: 1px solid #3c8dbc;
  padding-bottom: 5px;
}
.notify-body-class p{
  border-bottom: 1px solid #3c8dbc;
  padding-bottom: 5px;
}

.notify-body-class {
  max-height: 226px;
  overflow-y: scroll;
}
.btn-calender-filter {
    margin: 15px;
}
