@CHARSET "UTF-8";
/*
#main {
  background: rgba(0, 0, 0, 0) url("../images/teste5.jpg") no-repeat fixed 50% 50% / cover ;
  
}
*/
#main{
	/*background: url(../images/teste5.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	posation: relative;*/
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


#main-content{
  background-clip: padding-box;
  background-color: #ffffff;
  border: 2px solid #00AFFF;
  border-radius: 10px;
  float: none;
  max-width: 600px;
  text-align:center;
  font-size: 16px;
  margin-bottom: 14px;
  font-family: "Montserrat",sans-serif;
}
#main{
	min-height: 100%;
	padding: 60px 10px;
}
.solial-icon-top{
	margin: 35px 0 10px 0;
}
.solial-icon-top a{
	text-decoration: none;
}
.solial-icon-top a{
	margin: 0px 2px;
	color: #00AFFF; 
}
.logo img {
  margin: 24px 0;
  max-width: 265px;
  width: 100%;
}
.logo-title img{
	width: 100%;
	max-width: 500px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}
.play-store-wap {
	margin: 20px 0 0 0;
}
.play-store img{
	width: 100%;
	max-width: 342px;
}
#getting-started{
	margin-top: 25px;
}
.cnd{
	background-color: #FFF;
	border: 2px solid #00AFFF;
	text-align:center;
	padding: 5px;
	border-radius: 5px;
	width: 74px;
	color: #00AFFF;
	margin: 3px 5px;
}
.cnd span{
	font-size: 20px;
	
}
.test-info{
	margin-top: 16px;
	color: #00AFFF;
	font-size:16px;
	margin: 30px 0 8px 0;
	max-width: 544px;
}
.instagram-warp{
	margin:10px 22px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	height:400px;
}
.inst-bnt-wrap{
	text-align:center;
	margin: 10px auto;
	max-width: 366px;
}
.inst-bnt-lodm{
	/*float:none;*/
	padding: 0;
	margin: 12px 0;
}
.inst-bnt-lodm a{
	background-color: #515151;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	padding: 6px 16px;
	text-decoration: none;
}
.inst-bnt-flow{
	/*float:none;*/
	padding: 0;
	margin: 12px 0;
}
.inst-bnt-flow a{
	background-color: #00AFFF;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	padding: 6px 16px;
	text-decoration: none;
}
.inst-bnt-flow a .fa-instagram{
	margin-right: 7px;
	font-size: 15px;
}
.instagram-warp .instagram_header{
	clear: both;
	float: left;
	line-height: 1.2;
	margin: 0 0 15px;
	padding: 0;
	width: 100%;
}
.instagram-warp .instagram_header a{
	text-decoration: none;
} 
.instagram-warp .header_text{
float: left;
padding-top: 5px;
width: 100%;
}
.instagram-warp .header_text h3{
	clear: both;
	float: left;
	margin: 0 0 0 50px !important;
	padding: 0 !important;
	width: auto;
	color: #fff;
}

.instagram-warp .header_text p{
clear: both;
float: left;
margin: 0 0 0 60px !important;
padding: 0 !important;
width: auto;
}

.instagram-warp .header_img{
border-radius: 40px;
float: left;
margin: 10px 0 0 -100% !important;
overflow: hidden;
position: relative;
width: 50px;
}

.instagram-warp .header_img .header_img_hover{ background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
border-radius: 40px;
bottom: 0;
color: #fff;
left: 0;
opacity: 0;
position: absolute;
text-align: center;
top: 0;
transition: opacity 0.2s ease 0s;
width: 100%; }

.instagram-warp .header_img_hover .fa {
  font-size: 20px;
  margin-left: -8px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.instagram-warp .instagram_header a:hover .header_img_hover,
.instagram-warp .instagram_header a:focus .header_img_hover{
	opacity: 1;
}
#instafeed .col-centered {
  padding: 2px 6px;
}
.email-noti-sec {
	max-width: 594px;
	padding: 0px 33px;	
	overflow: hidden;
}
.email-noti-sec .email-box{
	padding: 0 2px;
	margin: 4px 0;
	overflow: hidden;
}
.email-noti-sec .button-box{
	padding: 0 2px;
	margin: 4px 0;
	overflow: hidden;
}
.email-noti-sec input,.email-noti-sec submit { 
	overflow: hidden;
}
.email-noti-sec .button-box input {
  width: 100%;
}
.email-noti-sec .text-info {
  clear: both;
  margin: 0px 0 25px;
  padding: 10px 0 0;
  color: #00afff;
}

.fb-like-warp {
  margin: 25px 0;
}
.footer-solial-sec p{
	color: #00afff;
}
.footer-info {
  color: #00afff;
  margin-top: 25px;
}
.footer-info a{
  color: #00afff;
}


.footer-info .footer-info-link {
  margin: 20px 0;
  text-decoration: -moz-anchor-decoration;
}

/*contact us page css */
.contact-header{
	text-align: center;margin-top:10px;
	border-bottom: 3px solid #DDDDDD;
}
.contact-content-inner {
  padding: 4% 5%;
  color: #333333;
  font-family: "Montserrat",sans-serif;
	font-weight: normal;
	line-height: 1.25;
}

@media all and (max-width: 360px) {
 .button-box input[type="submit"] {
    font-size: 15px;
  }
}