.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 90%;
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 44px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 92%;
    height: 5px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px !important;
}
.col-md-offset-3 {
    margin-left: 5% !important;
    padding: 20px;
}
.chosen-rtl .chosen-drop { left: -9000px; }
.collapsed-box {
    border:2px solid #F9CC85;
}
textarea { resize: vertical; }